.footer {
  background-color: #08664f;
  color: $white;
}

.nav {
  padding: 42px 17px;
  &__contacts-container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 31px;
  }

  &__socials {
    height: 24px;
    display: flex;
    gap: 20px;
  }

  &__menu {
    list-style: none;
    font-size: 14px;

    &-item {
      margin-bottom: 15px;
    }
    &-item:last-of-type {
      margin-bottom: 0px;
    }
  }

  &__menu a {
    color: $white;
    text-decoration: none;
  }
}
